* {
  box-sizing: border-box;
}

body {
  text-align: center;
  height: 100vh;
  width:  100%;
  background: linear-gradient(
    to right,
    #601c2e 0%,
    #601c2e 5%,
    #520000 45%,
    #520000 65%,
    #2e0010 95%,
    #2e0010 100%
  );
  margin: auto;
  padding: 0;
  overflow: hidden;
}

#NavBar{
  position: fixed;
  top: 0vh;
  background-color: #3e5a93;
  border-bottom: solid 1px #ffffff;
  height: 5vh;
  width: 100vw;
  z-index: 100;
}

#NavTitle{
  position: absolute;
  top: -2vh;
  left: 2.5vw;
  color: #ffffff;
  line-height: 24px;
  font-size: 32px;
  font-weight: bolder;
}

#el1{
  height: 350px;
  transform: rotate(345deg);
  position: absolute;
  top: 40%;
  left: 10%;
  z-index: -1;
}

#el2{
  height: 10vw;
  transform: rotate(325deg);
  position: absolute;
  left: 35vw;
  bottom: 8.5vh;
  z-index: 0;
}

#el2_1{
  height: 10vw;
  transform: rotate(145deg);
  position: absolute;
  left: 30vw;
  bottom: 0vh;
  z-index: 0;
}

#el3{
  width: 50vh;
  height: 50vh;
  transform: rotate(180deg);
  position: absolute;
  right: 0%;
}

#el3_1{
  height: 60vh;
  transform: rotate(135deg);
  position: absolute;
  right: -25vw;
  top: -35vh;
}

#el5{
  height: 10vw;
  transform: rotate(145deg);
  position: absolute;
  left: 35vw;
  bottom: 9vh;
  z-index: 0;
}

#el6{
  width: 62.75vh;
  height: 65vh;
  position: absolute;
  right: -3.75vw;
  top: -6.15vh;
}

#rank{
  font-size: 1.9vmax;
  font-weight: lighter;
  position: absolute;
  top: 15%;
  left: 2%;
  width: 80%;
  line-height: 2.5rem;
  text-align: left;
}

.DropDown{
  display: none;
  z-index: 100;
  background: #601c2e;
  border: 2px solid #011627;
  float: right;
  font-family: monospace;
  position: absolute;
  left: 0px;
  font-size: 18px;
  font-family: arial;
  font-weight: 300;
  color: #dbfcff;
  line-height: 60px;
  margin: auto;
  padding: 10px;
  text-align: left;
  height: 300px;
  width: 200px;
}

#LogOut{
  background: transparent;
  border: none;
  float: right;
  font-size: 24px;
  font-family: arial;
  font-weight: 1000;
  color: #ffffff;
  line-height: 34px;
  height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 7vw;
  display: inline;
  position: absolute;
  left: 1.5vw;
  bottom: 5%;
}

#HACButton{
  position: absolute;
  top: 5%;
  left: 65%;
}

#CalendarButton{
  position: absolute;
  left: 1.5vw;
  top: 4vh;
}

#loginButton{
  background: #3e5a93;
  border-radius: 15px;
  position: absolute;
  top: 5%;
  left: 5%;
}

#styleUpdate{
  display: none;
}

#classUpdate{
  display: none;
}

#rankUpdate{
  display: none;
}

#Clubs{
  position: absolute;
  top: 5%;
  left: 55%;
}

#ClubsPage {
  overflow-y: auto;
  text-align: center;
  height: 100vh;
  width:  100%;
  background: linear-gradient(
    to right,  
    #ffffff 0%, 
    #ffffff 65%, 
    #601c2e 99%,
    #601c2e 100%
  );
  margin: auto;
  padding: 0;
}

#LoginPage {
  text-align: center;
  height: 100vh;
  width:  100%;
  background: linear-gradient(
    to right,
    #601c2e 0%,
    #601c2e 5%,
    #520000 45%,
    #520000 65%,
    #2e0010 95%,
    #2e0010 100%
  );
  margin: auto;
  padding: 0;
}

#lightmode{
  background: transparent;
  border: none;
  float: right;
  position: absolute;
  top: 20px;
  right: -100%;
  color: #ffffff;
}

#lightmodelabel{
  background: transparent;
  border: none;
  float: right;
  position: absolute;
  top: 3%;
  left: 2%;
  color: #ffffff;
}

#cornerImg{
  height: 5vh;
  width: 5vh;
  position: absolute;
  top: 0%;
  left: .1vw;
}

#settingsImg{
  height: 9vh;
  width: 9.5vh;
  position: absolute;
  top: 3.5vh;
  left: 7.5vw;
}

#profileImg{
  height: 10vh;
  width: 11.5vh;
  position: relative;
  top: -1.4vh;
  left: -2.5vh;
}

#profile{
  background: #ffffff;
  height: 7vh;
  width: 7vh;
  position: absolute;
  top: 4vh;
  left: 2.5vw;
}

#logo{
  position: absolute;
  top: 25%;
  right: 1vw;
  height: 500px;
  width: 500px;
  visibility: visible;
}

#logo:hover{
  opacity: 0.85;
}

#clist{
  /*color: #ffffff;
  background-color: #3e5a93;
  border: solid 1px #ffffff;
  border-radius: 12px;
  padding: 10px;
  margin: 10px;
  width: 50vw;
  position: relative;
  top: 10vh;
  left: 25vw;*/
  background: #520000;
  border: solid 1px #000;
  border-radius: 12px;
  color: #ffffff;
  position: relative;
  top: 5vh;
  left: 10%;
  padding: 10px;
  margin: 10px;
  height: 20vh;
  width: 80%;
  font-family: Verdana, Tahoma, sans-serif;
}

#cname{
  background: transparent;
  position: absolute;
  top: -11%;
  left: 1%;
  font-size: 2.5vmax;
  font-weight: Bold;
  line-height: 1rem;
}

#chost{
  background: transparent;
  position: absolute;
  top: -10%;
  right: 1%;
  font-size: 2vh;
}

#cdesc{
  font-size: 1.9vmax;
  font-weight: lighter;
  position: absolute;
  top: 15%;
  left: 2%;
  width: 80%;
  line-height: 2.5rem;
  text-align: left;
}

#cimg{
  background: #ffffff;
  border-radius: 10px;
  position: absolute;
  right: 2%;
  top: 25%;
  width: 100px;
  height: 100px;
}

#cmeet{
  background: transparent;
  position: absolute;
  bottom: -9%;
  left: 1%;
  font-size: 2vh;
}
#croom{
  background: transparent;
  position: absolute;
  bottom: -9%;
  right: 1%;
  font-size: 2vh;
}

#HACLogin{
  position: absolute;
  top: 30%;
  left: 10%;
}

#userField{
  text-align: center;
  font-size: 24px;
  font-family: Verdana, Tahoma, sans-serif;
  color: #ffffff;
  position: relative;
  left: 0%;
}
#userin{
  background-color: #3e5a93;
  border: none;
  border-radius: 12px;
  color: #ffffff;
  height: 4vh;
  width: 18vw;
  font-size: 18px;
  position: absolute;
  top: 100%;
  left: 0%;
}
#passField{
  text-align: center;
  font-size: 24px;
  font-family: Verdana, Tahoma, sans-serif;
  color: #ffffff;
  position: relative;
  left: 20vw;
}
#passin{
  background-color: #3e5a93;
  border: none;
  border-radius: 12px;
  color: #ffffff;
  height: 4vh;
  width: 18vw;
  font-size: 18px;
  position: absolute;
  top: 100%;
  left: 0%;
}

#loginErr{
  background-color: #ff9494 ;
  margin: 2px;
  border-left: solid 6px;
  border-color: #fff;
  border-radius: 2px;
  color: #2e2e2e;
  height: 4vh;
  width: 18vw;
  font-size: 20px;
  position: absolute;
  left: 13vw;
  top: 75px;
  display: none;
}

#errTxt{
  position: relative;
  bottom: 33%;
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.loading-spinner {
  position: absolute;
  top: 6%;
  left: 4%;
  width: 100px;
  height: 100px;
  border: 10px solid #f3f3f3; /* Light grey */
  border-top: 10px solid #383636; /* Black */
  border-radius: 50%;
  animation: spinner 1.5s linear infinite;
}

#loginHeader{
  font-family: sans-serif;
  font-weight: lighter;
  position: absolute;
  top: -5%;
  left: 10%;
  color: #ffffff;
  font-size: 100px;
}


#submitlogin{
  background: transparent;
  border: none;
  float: right;
  font-size: 24px;
  font-family: arial;
  font-weight: 1000;
  color: #ffffff;
  line-height: 34px;
  height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 100px;
  display: inline;
  position: absolute;
  top: 12vh;
  left: 20vw;
}

.submitLogin:hover {
  opacity: 0.85;
}

#rankDisplay{
  border: inset 2px #c8c8c8;
  width: 10vw;
  height: 5vh;
  line-height: 50px;
  position: relative;
  left: 90vw;
  top: -1.75vh;
  color: #ffffff
}

#gpaDisplay{
  border: inset 2px #c8c8c8;
  width: 10vw;
  height: 5vh;
  line-height: 50px;
  position: relative;
  left: 80vw;
  top: -8.45vh;
  color: #ffffff
}

#classAverage{
  color: #ffffff;
  background-color: #3e5a93;
  border: solid 1px #ffffff;
  border-radius: 12px;
  padding: 10px;
  margin: 10px;
  width: 50vw;
  position: relative;
  top: 10vh;
  left: 25vw;
}

h1{
  font-family: sans-serif;
  font-weight: lighter;
  text-shadow: 4px 0 #000, -4px 0 #000, 0 4px #000, 0 -4px #000,
  2px 2px #000, -2px -2px #000, 2px -2px #000, -2px 2px #000;
  position: absolute;
  top: -50px;
  left: 10vw;
  color: #ffffff;
  font-size: 250px;
  letter-spacing: 1vw;
}

h2{
  font-family: sans-serif;
  font-weight: lighter;
  text-shadow: 4px 0 #000, -4px 0 #000, 0 4px #000, 0 -4px #000,
  2px 2px #000, -2px -2px #000, 2px -2px #000, -2px 2px #000;
  position: absolute;
  top: 200px;
  left: 35vw;
  color: #ffffff;
  font-size: 250px;
  letter-spacing: 1vw;
  z-index: 1;
}

h3{
  font-family: sans-serif;
  font-weight: lighter;
  position: absolute;
  top: -25%;
  left: 0;
  color: #ffffff;
  font-size: 200px;
}

h4{
  font-family: sans-serif;
  font-weight: lighter;
  position: absolute;
  top: -10%;
  left: 5%;
  color: #000000;
  font-size: 100px;
}

h6{
  font-family: sans-serif;
  font-weight: bold;
  position: absolute;
  top: -22.5%;
  left: 20%;
  color: #ffffff;
  font-size: 24px;
}

#HACLogo{
  background: transparent;
  border: none;
  position: fixed;
  top: 6%;
  left: 4%;
  height: 100px;
}

code {
  font-size: 1.2em;
}

ul {
  padding-inline-start: 20px;
}

body {
  font-family: serif;
  margin: auto;
  padding: 0;
}

.consoLogo{
  position: absolute;
  top: 25%;
  right: 10%;
  visibility: hidden;
}
.pageButton {
  background: transparent;
  border: none;
  float: right;
  position: absolute;
  top: 5%;
  left: 70%;
  font-size: 24px;
  font-family: arial;
  font-weight: 1000;
  color: #ffffff;
  line-height: 34px;
  height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 100px;
  display: inline;
}

.pageButton:hover {
  opacity: 0.85;
}

.navButton {
  background: transparent;
  border: none;
  float: right;
  position: absolute;
  top: 1vh;
  right: 1vw;
  font-size: 22px;
  font-family: arial;
  color: #ffffff;
  line-height: 34px;
  height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 10vh;
  display: inline;
}

.navButton:hover {
  opacity: 0.85;
}

.cornerButton{
  background-color: transparent;
  border: none;
  position: absolute;
  top: -2px;
  left: -2px;
  color: #555555;
}

#CalendarPage {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr;
  height: 100vh;
}

.cal-page-top {
  display: grid;
  grid-template-columns: 1fr auto;
  grid-gap: 16px; /* Adjust the gap as needed */
}

.calendar-container {
  grid-column: 1;
  grid-row: 1;
  background: #b8b8b8;
  position: absolute;
  top: 5vh;
  width: 80vw;
  height: 57.5vh;
  border-bottom-left-radius: 10px;
  box-shadow: 0 15px 40px rgba(0, 0, 0, 0.12);
}

.calendar-container header {
  display: flex;
  align-items: center;
  padding: 25px 30px 10px;
  justify-content: space-between;
}

header .calendar-navigation {
  display: flex;
}

header .calendar-navigation span {
  height: 38px;
  width: 38px;
  margin: 0 1px;
  cursor: pointer;
  text-align: center;
  line-height: 38px;
  border-radius: 50%;
  user-select: none;
  color: #aeabab;
  font-size: 1.9rem;
}

.calendar-navigation span:last-child {
  margin-right: -10px;
}

header .calendar-navigation span:hover {
  background: #f2f2f2;
}

header .calendar-current-date {
  font-weight: 500;
  font-size: 1.45rem;
}

.calendar-body {
  padding: 20px;
}

.calendar-body ul {
  list-style: none;
  flex-wrap: wrap;
  display: flex;
  text-align: center;
}

.calendar-body .calendar-dates {
  margin-bottom: 20px;
}

.calendar-body li {
  width: calc(100% / 7);
  font-size: 1.3rem;
  color: #414141;
}

.calendar-body .calendar-weekdays li {
  cursor: default;
  font-weight: 500;
}

.calendar-body .calendar-dates li {
  margin-top: 30px;
  position: relative;
  z-index: 1;
  cursor: pointer;
}

.calendar-dates li.inactive {
  color: #ffcf99;
}

.calendar-dates li.active {
  color: #fff;
}

.calendar-dates li.inMonth {
  color: #fff8f0;
}

.calendar-dates li::before {
  position: absolute;
  content: "";
  z-index: -1;
  top: 50%;
  left: 50%;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  background: #61988e;
}

.calendar-dates li.active::before {
  background: #3e5a93;
}

.calendar-dates li:not(.active):hover::before {
  background: #e4e1e1;
}

.eventCol {
  grid-column: 2;
  grid-row: 1 / span 2;
  display: flex;
  flex-direction: column;
  height: 57.5vh; /* Ensure the column takes the full height */
}

#upcomingEvents {
  overflow-y: auto;
  position: absolute;
  top: 5vh;
  right: 0vw;
  background: #b8b8b8;
  width: 20vw;
  border-bottom-right-radius: 10px;
  border-left: double 5px #000;
}

#eventsHeader {
  padding: 25px 30px 10px;
  text-align: left;
  font-size: larger;
}

#dayEvents{
  font-size: large;
  line-height: 5vh;
} 

.dot{
  position: absolute;
  left: 49%;
  height: 4px;
  width: 4px;
  background: #fff8f0;
  border-radius: 100%;
}

#currDayInfo{
  position: absolute;
  bottom: 0vh;
  background: #b8b8b8;
  min-height: 37vh;
  width: 100vw;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}