* {
  box-sizing: border-box;
}

body {
  text-align: center;
  height: 100vh;
  width:  100%;
  background: linear-gradient(
    to right,
    #601c2e 0%,
    #601c2e 5%,
    #520000 45%,
    #520000 65%,
    #2e0010 95%,
    #2e0010 100%
  );
  margin: auto;
  padding: 0;
}

#el1{
  height: 350px;
  position: absolute;
  top: 40%;
  left: 10%;
  z-index: -1;
}

#el2{
  height: 300px;
  position: absolute;
  left: 30%;
  bottom: 0%;
  z-index: 0;
}

#el3{
  position: absolute;
  right: 0%;
}

#rank{
  font-size: 1.9vmax;
  font-weight: lighter;
  position: absolute;
  top: 15%;
  left: 2%;
  width: 80%;
  line-height: 2.5rem;
  text-align: left;
}

#settings{
  display: none;
  background: #601c2e;
  border: 2px solid #011627;
  float: right;
  font-family: monospace;
  position: absolute;
  left: 0px;
  font-size: 18px;
  font-family: arial;
  font-weight: 300;
  color: #dbfcff;
  line-height: 60px;
  margin: auto;
  padding: 10px;
  text-align: left;
  height: 300px;
  width: 200px;
}

#HAC{
  position: absolute;
  top: 5%;
  left: 65%;
}

#classUpdate{
  display: none;
}

#rankUpdate{
  display: none;
}

#Clubs{
  position: absolute;
  top: 5%;
  left: 55%;
}

#ClubsPage {
  text-align: center;
  height: 100vh;
  width:  100%;
  background: linear-gradient(
    to right,  
    #ffffff 0%, 
    #ffffff 65%, 
    #601c2e 99%,
    #601c2e 100%
  );
  margin: auto;
  padding: 0;
}

#LoginPage {
  text-align: center;
  height: 100vh;
  width:  100%;
  background: linear-gradient(
    to right,
    #601c2e 0%,
    #601c2e 5%,
    #520000 45%,
    #520000 65%,
    #2e0010 95%,
    #2e0010 100%
  );
  margin: auto;
  padding: 0;
}

#lightmode{
  background: transparent;
  border: none;
  float: right;
  position: absolute;
  top: 20px;
  right: -100%;
  color: #ffffff;
}

#lightmodelabel{
  background: transparent;
  border: none;
  float: right;
  position: absolute;
  top: 3%;
  left: 2%;
  color: #ffffff;
}

#cornerImg{
  height: 40px;
  width: 40px;
  position: absolute;
  top: 0%;
  left: 0%;
}

#logo{
  position: absolute;
  top: 25%;
  right: 10%;
  height: 500px;
  width: 500px;
  visibility: visible;
}

#logo:hover{
  opacity: 0.85;
}

#clist{
  background: #520000;
  border-radius: 10px;
  color: #ffffff;
  position: absolute;
  top: 20%;
  left: 10%;
  height: 20vh;
  width: 80%;
  font-family: Verdana, Tahoma, sans-serif;
}

#cname{
  background: transparent;
  position: absolute;
  top: -11%;
  left: 1%;
  font-size: 2.5vmax;
  font-weight: Bold;
  line-height: 1rem;
}

#chost{
  background: transparent;
  position: absolute;
  top: -10%;
  right: 1%;
  font-size: 2vh;
}

#cdesc{
  font-size: 1.9vmax;
  font-weight: lighter;
  position: absolute;
  top: 15%;
  left: 2%;
  width: 80%;
  line-height: 2.5rem;
  text-align: left;
}

#cimg{
  background: #ffffff;
  border-radius: 10px;
  position: absolute;
  right: 2%;
  top: 25%;
  width: 100px;
  height: 100px;
}

#cmeet{
  background: transparent;
  position: absolute;
  bottom: -9%;
  left: 1%;
  font-size: 2vh;
}
#croom{
  background: transparent;
  position: absolute;
  bottom: -9%;
  right: 1%;
  font-size: 2vh;
}

#HACLogin{
  position: absolute;
  top: 30%;
  left: 10%;
}

#userField{
  text-align: center;
  font-size: 24px;
  font-family: Verdana, Tahoma, sans-serif;
  color: #ffffff;
  position: relative;
  left: 0%;
}
#userin{
  background-color: #3e5a93;
  border: none;
  border-radius: 12px;
  color: #ffffff;
  height: 4vh;
  width: 18vw;
  font-size: 18px;
  position: absolute;
  top: 100%;
  left: 0%;
}
#passField{
  text-align: center;
  font-size: 24px;
  font-family: Verdana, Tahoma, sans-serif;
  color: #ffffff;
  position: relative;
  left: 20vw;
}
#passin{
  background-color: #3e5a93;
  border: none;
  border-radius: 12px;
  color: #ffffff;
  height: 4vh;
  width: 18vw;
  font-size: 18px;
  position: absolute;
  top: 100%;
  left: 0%;
}

#loginErr{
  background-color: #ff9494 ;
  margin: 2px;
  border-left: solid 6px;
  border-color: #fff;
  border-radius: 2px;
  color: #2e2e2e;
  height: 4vh;
  width: 18vw;
  font-size: 20px;
  position: absolute;
  left: 13vw;
  top: 75px;
  display: none;
}

#errTxt{
  position: relative;
  bottom: 33%;
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.loading-spinner {
  position: absolute;
  top: 6%;
  left: 4%;
  width: 100px;
  height: 100px;
  border: 10px solid #f3f3f3; /* Light grey */
  border-top: 10px solid #383636; /* Black */
  border-radius: 50%;
  animation: spinner 1.5s linear infinite;
}

#loginHeader{
  font-family: sans-serif;
  font-weight: lighter;
  position: absolute;
  top: -5%;
  left: 10%;
  color: #ffffff;
  font-size: 100px;
}


#submitlogin{
  background: transparent;
  border: none;
  float: right;
  font-size: 24px;
  font-family: arial;
  font-weight: 1000;
  color: #ffffff;
  line-height: 34px;
  height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 100px;
  display: inline;
  position: absolute;
  top: 12vh;
  left: 20vw;
}

.submitLogin:hover {
  opacity: 0.85;
}

#rankDisplay{
  position: absolute;
  right: 0px;
  top: 0px;
  color: #ffffff
}

h1{
  font-family: sans-serif;
  font-weight: lighter;
  text-shadow: 4px 0 #000, -4px 0 #000, 0 4px #000, 0 -4px #000,
  2px 2px #000, -2px -2px #000, 2px -2px #000, -2px 2px #000;
  position: absolute;
  top: -50px;
  left: 5%;
  color: #ffffff;
  font-size: 300px;
}

h2{
  font-family: sans-serif;
  font-weight: lighter;
  text-shadow: 4px 0 #000, -4px 0 #000, 0 4px #000, 0 -4px #000,
  2px 2px #000, -2px -2px #000, 2px -2px #000, -2px 2px #000;
  position: absolute;
  top: 200px;
  left: 35%;
  color: #ffffff;
  font-size: 300px;
  z-index: 1;
}

h3{
  font-family: sans-serif;
  font-weight: lighter;
  position: absolute;
  top: -25%;
  left: 0;
  color: #ffffff;
  font-size: 200px;
}

h4{
  font-family: sans-serif;
  font-weight: lighter;
  position: absolute;
  top: -10%;
  left: 5%;
  color: #000000;
  font-size: 100px;
}

h6{
  font-family: sans-serif;
  font-weight: bold;
  position: absolute;
  top: -22.5%;
  left: 20%;
  color: #ffffff;
  font-size: 24px;
}

#HACLogo{
  background: transparent;
  border: none;
  position: fixed;
  top: 6%;
  left: 4%;
  height: 100px;
}

code {
  font-size: 1.2em;
}

ul {
  padding-inline-start: 20px;
}

body {
  font-family: serif;
  margin: auto;
  padding: 0;
}

.consoLogo{
  position: absolute;
  top: 25%;
  right: 10%;
  visibility: hidden;
}
.pageButton {
  background: transparent;
  border: none;
  float: right;
  position: absolute;
  top: 5%;
  left: 70%;
  font-size: 24px;
  font-family: arial;
  font-weight: 1000;
  color: #ffffff;
  line-height: 34px;
  height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 100px;
  display: inline;
}

.pageButton:hover {
  opacity: 0.85;
}

.cornerButton{
  background-color: transparent;
  border: none;
  height: 40px;
  width: 40px;
  position: absolute;
  top: -2px;
  left: -2px;
  color: #555555;
}